{% extends 'base.html.twig' %}

{% block title %}Mofication de l'horaire{% endblock %}

{% block body %}
    <h1>Mofication de l'horaire</h1>

    {{ include('schedule/_form.html.twig', {'button_label': 'Modifier'}) }}

    <a href="{{ path('app_schedule_index', {'id': schedule.bakery.id}) }}">Retour a liste</a>

{% endblock %}
