{% extends 'base.html.twig' %}

{% block title %}Ajouter un horaire{% endblock %}

{% block body %}
    <h1>Ajouter un horaire</h1>

    {{ include('schedule/_form.html.twig') }}

    <a href="{{ path('app_schedule_index', {'id': bakery.id}) }}">retour a la liste</a>
{% endblock %}
