{% extends 'base.html.twig' %}

{% block title %}Edit Bakery{% endblock %}

{% block body %}
    <h1>Edit Bakery</h1>

    {{ include('back/bakery/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_back_bakery_index') }}">back to list</a>

    {{ include('back/bakery/_delete_form.html.twig') }}
{% endblock %}
