{% extends 'base.html.twig' %}

{% block title %}Modifier ma boulangerie{% endblock %}

{% block body %}
    <div class="container">
        <h1 class="display-6">Modifier ma boulangerie</h1>

        {{ include('back/bakery/_form.html.twig', {'button_label': 'Modifier'}) }}

        <a href="{{ path('app_back_bakery_index', {'id': bakery.user.id})}}">Retour à la liste</a>
    </div>
{% endblock %}
