{% extends 'base.html.twig' %}

{% block title %}Nouvelle Boulangerie{% endblock %}

{% block body %}
    <h1>Creer une Boulangerie</h1>

    {{ include('back/bakery/_form.html.twig') }}

    <a href="{{ path('app_back_bakery_index', {'id': user.id}) }}">Retour a la liste</a>
{% endblock %}
