{% extends 'base.html.twig' %}

{% block title %}Nouvelle Boulangerie{% endblock %}

{% block body %}
    <div class="container">
        <h1 class="display-6">Créer une boulangerie</h1>

        {{ include('back/bakery/_form.html.twig') }}

        <a href="{{ path('app_back_bakery_index', {'id': user.id}) }}"><button type="button" class="btn btn-secondary">Retour à la liste</button></a>
    </div>
{% endblock %}
