{% extends 'base.html.twig' %}

{% block title %}Ajouter un produit{% endblock %}

{% block body %}
    <h1 class="display-6" >Ajouter un produit</h1>

    {{ include('back/product/_form.html.twig') }}

    <a href="{{ path('app_back_product_index', {'id': bakery.id}) }}">Retour à la liste</a>
{% endblock %}
