{% extends 'base.html.twig' %}

{% block title %}Liste des commandes{% endblock %}

{% block body %}
    <div class="container">
        <h1  class="display-6">Liste des commandes</h1>

        <div class="table-responsive">
            <table  class="table table-stripedb w-auto">
                <thead>
                    <tr>
                        <th>N de commande</th>
                        <th>Statut</th>
                        <th>Livraison</th>
                        <th>Schedule</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody class="table-group-divider">
                {% for order in orders %}
                    <tr>
                        <td>{{ order.id }}</td>

                        <td>
                            {% if order.status == '1' %}
                                En cours
                            {% else %}
                                Fini
                            {% endif %}
                        </td>

                        <td>
                            {% if order.status == '1' and order.delivery == '1' %}
                                A livrer
                            {% elseif order.status == '1' and order.delivery == '0' %}
                                A récupérer
                            {% endif %}
                        </td>
                    
                        <td> {{ order.schedule|format_datetime('short', 'short', locale='fr') }}</td>
                        <td>
                            <a href="{{ path('app_back_order_show', {'id': order.id}) }}"><button type="button" class="btn btn-secondary">Afficher</button></a>

                            {# <a href="#"><button type="button" class="btn btn-secondary">Archiver</button></a> #}
                            {# {{ path('app_back_order_archive', {'id': order.id}) }} #}
                        </td>
                    </tr>
                {% else %}
                    <tr>
                        <td colspan="10">Pas de commandes trouvées</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
    {% endblock %}


